.container{
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-title{
    height: 50px;
    text-align: center;
}
a{
    width: 100%;
}